body {
    font-family: 'ubuntu', sans-serif;
    background-color: #003060; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #003060, #307158);
    color: white;
}